@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
    font-family: "Satoshi-Variable";
    src: url("/fonts/Satoshi-Variable.woff2") format("woff2"),
        url("/fonts/Satoshi-Variable.woff") format("woff"),
        url("/fonts/Satoshi-Variable.ttf") format("truetype");
    font-weight: 300 900;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: "Satoshi-VariableItalic";
    src: url("/fonts/Satoshi-VariableItalic.woff2") format("woff2"),
        url("/fonts/Satoshi-VariableItalic.woff") format("woff"),
        url("/fonts/Satoshi-VariableItalic.ttf") format("truetype");
    font-weight: 300 900;
    font-display: swap;
    font-style: italic;
}

@font-face {
    font-family: "Satoshi-Light";
    src: url("/fonts/Satoshi-Light.woff2") format("woff2"),
        url("/fonts/Satoshi-Light.woff") format("woff"),
        url("/fonts/Satoshi-Light.ttf") format("truetype");
    font-weight: 300;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: "Satoshi-LightItalic";
    src: url("/fonts/Satoshi-LightItalic.woff2") format("woff2"),
        url("/fonts/Satoshi-LightItalic.woff") format("woff"),
        url("/fonts/Satoshi-LightItalic.ttf") format("truetype");
    font-weight: 300;
    font-display: swap;
    font-style: italic;
}

@font-face {
    font-family: "Satoshi-Regular";
    src: url("/fonts/Satoshi-Regular.woff2") format("woff2"),
        url("/fonts/Satoshi-Regular.woff") format("woff"),
        url("/fonts/Satoshi-Regular.ttf") format("truetype");
    font-weight: 400;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: "Satoshi-Italic";
    src: url("/fonts/Satoshi-Italic.woff2") format("woff2"),
        url("/fonts/Satoshi-Italic.woff") format("woff"),
        url("/fonts/Satoshi-Italic.ttf") format("truetype");
    font-weight: 400;
    font-display: swap;
    font-style: italic;
}

@font-face {
    font-family: "Satoshi-Medium";
    src: url("/fonts/Satoshi-Medium.woff2") format("woff2"),
        url("/fonts/Satoshi-Medium.woff") format("woff"),
        url("/fonts/Satoshi-Medium.ttf") format("truetype");
    font-weight: 500;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: "Satoshi-MediumItalic";
    src: url("/fonts/Satoshi-MediumItalic.woff2") format("woff2"),
        url("/fonts/Satoshi-MediumItalic.woff") format("woff"),
        url("/fonts/Satoshi-MediumItalic.ttf") format("truetype");
    font-weight: 500;
    font-display: swap;
    font-style: italic;
}

@font-face {
    font-family: "Satoshi-Bold";
    src: url("/fonts/Satoshi-Bold.woff2") format("woff2"),
        url("/fonts/Satoshi-Bold.woff") format("woff"),
        url("/fonts/Satoshi-Bold.ttf") format("truetype");
    font-weight: 700;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: "Satoshi-BoldItalic";
    src: url("/fonts/Satoshi-BoldItalic.woff2") format("woff2"),
        url("/fonts/Satoshi-BoldItalic.woff") format("woff"),
        url("/fonts/Satoshi-BoldItalic.ttf") format("truetype");
    font-weight: 700;
    font-display: swap;
    font-style: italic;
}

@font-face {
    font-family: "Satoshi-Black";
    src: url("/fonts/Satoshi-Black.woff2") format("woff2"),
        url("/fonts/Satoshi-Black.woff") format("woff"),
        url("/fonts/Satoshi-Black.ttf") format("truetype");
    font-weight: 900;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: "Satoshi-BlackItalic";
    src: url("/fonts/Satoshi-BlackItalic.woff2") format("woff2"),
        url("/fonts/Satoshi-BlackItalic.woff") format("woff"),
        url("/fonts/Satoshi-BlackItalic.ttf") format("truetype");
    font-weight: 900;
    font-display: swap;
    font-style: italic;
}

@layer base {
    body {
        font-family: "Poppins", sans-serif;
    }
}

.content h1,
.content h2 {
    font-family: "Arial", sans-serif; /* Atur font keluarga */
    font-weight: bold; /* Pastikan judul memiliki ketebalan huruf */
    color: #333; /* Sesuaikan warna teks */
    margin-bottom: 1rem; /* Spasi bawah untuk h1 dan h2 */
}

.content h1 {
    font-size: 2.5rem; /* Ukuran font untuk h1 */
}

.content h2 {
    font-size: 2rem; /* Ukuran font untuk h2 */
}

.content p {
    /* Font untuk paragraf */
    font-size: 1rem; /* Ukuran font paragraf */
    line-height: 1.6; /* Jarak antar baris paragraf */
    color: #000000; /* Warna teks paragraf */
    margin-bottom: 1rem; /* Spasi bawah paragraf */
}

.content i {
    font-style: italic; /* Membuat teks menjadi miring */
    color: #666; /* Warna teks italic */
}

.content u {
    text-decoration: underline; /* Membuat teks bergaris bawah */
    color: #007bff; /* Warna untuk teks yang digarisbawahi */
}

.content b,
.content strong {
    font-weight: bold; /* Membuat teks bold */
    color: #000; /* Warna teks bold */
}

/* Unordered List (daftar tidak terurut) */
.content ul {
    list-style-type: disc; /* Gunakan titik sebagai bullet point */
    margin-left: 20px; /* Memberikan jarak kiri untuk ul */
    padding-left: 1rem; /* Memberikan padding agar lebih rapi */
}

.content ul li {
    font-size: 1rem; /* Ukuran font item dalam ul */
    margin-bottom: 0.5rem; /* Jarak antar item di ul */
}

/* Ordered List (daftar terurut) */
.content ol {
    list-style-type: decimal; /* Gunakan angka untuk daftar terurut */
    margin-left: 20px; /* Memberikan jarak kiri untuk ol */
    padding-left: 1rem; /* Memberikan padding agar lebih rapi */
}

.content ol li {
    font-size: 1rem; /* Ukuran font item dalam ol */
    margin-bottom: 0.5rem; /* Jarak antar item di ol */
}

/* Menambahkan styling untuk sublist (daftar dalam daftar) */
.content ul ul,
.content ol ol,
.content ul ol,
.content ol ul {
    margin-left: 20px; /* Memberikan jarak lebih dalam untuk sublist */
}

/* Menambahkan styling untuk list item yang menggunakan bold atau italic */
.content ul li b,
.content ol li b,
.content ul li i,
.content ol li i {
    font-weight: bold; /* Menebalkan teks dalam list item */
    font-style: italic; /* Menambahkan style italic pada teks dalam list item */
}

/* Hover efek untuk list items */
.content ul li:hover,
.content ol li:hover {
    background-color: #f0f0f0; /* Background saat hover pada item list */
    cursor: pointer; /* Ubah cursor saat hover */
    padding-left: 10px; /* Memberikan efek geser ke kiri saat hover */
    transition: all 0.3s ease; /* Transisi smooth */
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 80px;
}
